@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.btn {
	@apply px-3 py-1 border border-blue-500 rounded-md text-blue-500 text-sm;
}

.btmCarrot::before {
	content: '';
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translateX(-50%);
	border-top: 15px solid white;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.slide-in {
	animation: fadeIn 0.2s ease-in;
}

.fly-in {
	animation: flyin 0.3s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flyin {
	0% {
		transform: translatex(100%);
	}
	100% {
		transform: translateX(0);
	}
}
